<ion-app>

    <ion-menu side="start" menuId="first" contentId="main">
        <ion-header>
            <ion-toolbar color="dark">
                <ion-title color="primary">Menu</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content color="dark">

            <ion-button class="menu" color="dark">
                <ion-icon name="logo-whatsapp"></ion-icon>
                <ion-label>Photo</ion-label>
            </ion-button>

            <ion-button class="menu" color="dark">
                <ion-icon name="logo-whatsapp"></ion-icon>
                <ion-label>Photo</ion-label>
            </ion-button>

            <ion-button class="menu" color="dark">
                <ion-icon name="logo-whatsapp"></ion-icon>
                <ion-label>Photo</ion-label>
            </ion-button>

            <ion-button class="menu" color="dark">
                <ion-icon name="logo-whatsapp"></ion-icon>
                <ion-label>Photo</ion-label>
            </ion-button>

        </ion-content>
    </ion-menu>


    <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>